.header{
    background-color: #E554731A;
}
.banner{
     display: flex; 
     padding: 240px; 
     align-items: center;
    
}
.image{
    width: 635px;
    height: 800px;
    flex-shrink: 0;
}
.banner-greeting{
    /* width: 708px; */
    /* height: 288px; */
    /* font-size: 80px; */

    color: #272727;
font-family: Lato;
font-size: 80px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.para{
    width: 634px;
    height: 90px;
}
.btn-primary{
    border-radius: 8px;
background: #E55473;
color: #FFF;
font-family: Lato;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.sale{
    padding: 250px;
    border-radius: 8px;
background: rgba(229, 84, 115, 0.05);
align-items: center;
width: 100%;
width: 1922px;
height: 620px;

}
.sale1{
    display: flex;
}
.deal{
    font-size: 50px;
    text-align: center;
   
}
.sign{border-radius: 8px;
    background: #E55473;
    width: 155px;
    height: 64px;

}
.sale-info{
    width: 594px;
    height: 60px;
}
.insta{
background: #FFF;
align-items: center;
width:100%;
}
.insta2{
    text-align: center;
    .instagram{
        font-style: inherit;
        font-size: 50px;
    }
}
.subscription{
    width: 1440px;
height: 449px;
border-radius: 8px;
background-image: url('yellow\ flower.png');
background-repeat: no-repeat;
padding: 30px;
}
.latest{
    color: #272727;
text-align: center;
font-family: Lato;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.small{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}
.form{
    border: 8px;
    align-items: center;
    

}
.btn1{
    border-radius: 8px;
background: #E55473;
}
.shop{
    height: 300px;
    background-color: black;
}
.flowershop{
    color: #E55473;
font-family: Lato;
font-size: 48px;
font-style: normal;
font-weight: 800;
line-height: normal;
text-align: center;
}
.shopinfo{
    text-align: center;
}
.time{
    text-align: center;
}

.featureflower{
    text-align: center;
}
.featureinfo{
    text-align: center;
}
.Featured{
    text-align: center;
    padding: 100px;
}
.img3{
    border-radius: 300px 300px 0px 0px;
background: rgba(167, 33, 98, 0.15);
}
.img4{
    border-radius: 300px 300px 0px 0px;
background: rgba(5, 151, 160, 0.15);
}
.img5{
    border-radius: 300px 300px 0px 0px;
background: rgba(71, 125, 17, 0.15);
}
.field{
    text-align: center;
    font-style: initial;
    font-size: 50px;
}
legend{
    color: blue;
}